@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-content {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }

    .forecast {
        grid-column: 2/4;
    }

    .weather {
        grid-column: 1/2;
    }

    .events {
        grid-column: 1/4;
    }

    .display-menu {
        display: none;
    }

    #next-forecast {
        column-gap: 2rem;
    }

    .go-join h1 {
        font-size: 3rem;
    }

    .go-join {
        width: auto;
        top: calc(90vh/3);
        left: calc(90vw/5);
    }

    .brand-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .hero {
        grid-column: span 3;
    }

    .events {
        /* margin-right: 2rem; */
        grid-column: span 2;
    }

    .weather {
        /* margin-left: 2rem; */
        grid-column: span 1;
    }

    .community {
        grid-column: span 3;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }



    .community iframe {
        grid-column: span 3;
    }

    .spotlights {
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlights h2 {
        grid-column: span 3;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join {
        grid-template-columns: 1fr 2fr;
    }

    .memberships {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .bussiness {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .table {
        grid-template-columns: 1fr;
    }

}