@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .display-menu {
        display: none;
    }

    .hero {
        grid-column: span 3;
    }

    .events {
        margin-right: 2rem;
        grid-column: span 2;
    }

    .weather {
        margin-left: 2rem;
        grid-column: span 1;
    }

    .community {
        grid-column: span 3;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .community div {
        grid-column: span 1;
    }

    .community iframe {
        grid-column: span 2;
    }

    .spotlights {
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlights h2 {
        grid-column: span 3;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}